# Funções com coleções

Nessa aula será mostrar algumas funções muito úteis que podem ser aplicadas as coleções

### len( )

Retorna o número de itens em um tipo de dado.

In [ ]:
numbers: list[int] = [1, 1, 2, 5, 6, 6, 7, 134, 12122]
tuple_01: tuple[int] = (1, 2, 3, 4, 5)

print(len(numbers))
print(len(tuple_01))

9

As funções abaixo só funcionam tipos numéricos,

### max( )

Com um único argumento iterável, retorna seu maior item.

In [ ]:
numbers: list[int] = [1, 1, 2, 5, 6, 6, 7, 134, 12122]
tuple_01: tuple[int] = (1, 2, 3, 4, 5)

print(max(numbers))
print(max(tuple_01))

12122

### min( )

Com um único argumento iterável, retorna seu menos item.

In [ ]:
numbers: list[int] = [1, 1, 2, 5, 6, 6, 7, 134, 12122]
tuple_01: tuple[int] = (1, 2, 3, 4, 5)

print(min(numbers))
print(min(tuple_01))

1

### sum( )

Retorna a soma dos valores de um iterável.

In [ ]:
numbers: list[int] = [1, 1, 2, 5, 6, 6, 7, 134, 12122]
tuple_01: tuple[int] = (1, 2, 3, 4, 5)

print(sum(numbers))
print(sum(tuple_01))

12284

---