# Tuplas

Truplas é um tipo de dado bem parecido com as listas, mas possui duas diferenças concideráveis. Primeiro, para identificar elas, utilizamos as vírgulas e elas são imutáveis, mas podemos subscreve-las.

Normalmente se diz que se cria trupas utilizando os ( ), isso não é verdade. Elas são representadas por ( ), mas o que define são as vírgulas.

Ser imutável significa que não podemos incluir nem retirar valores dentro de uma truplas, mas podemos sobrescreve-las e criar truplas novas a partir de outras truplas.

Pode se perguntar, por que utilizar as truplas em vez de listas. Temos alguns motivos:

- Deve, e utilizaremos truplas quando não é preciso modificar os dados contidos em uma coleção, por exemplo, uma coleção dos meses, coordenadas, letras etc.

- São mais rápidas que as listas e

- Permite uma maior segurança ao código.

## Criando truplas

Podemos criar as truplas utilizando os parênteses ou não. Sempte utilizarei os parênteses, fica mais claro que é uma trupla.

In [1]:
tuple_01: tuple[int] = (1, 2, 3, 4, 5)
tuple_02: tuple[str] = ('a', 'b', 'c')
tuple_03: tuple[int] = 1, 2, 3, 4, 5

Tenha cuidado a criar um trupla com um único elemento, não basta apenas colocar os parênteses, precisa colocar um vírugula depois.

In [2]:
tuple_04: tuple[int] = (4)  # Int
tuple_05: tuple[int] = (4,)  # Tuple
tuple_06: tuple[int] = 4,  # Tuple

## Deletar a trupla

Basta usar o comando del + nome da trupla.

In [3]:
trupla: tuple[int] = (1, 2, 3, 4)

print(trupla)

del trupla

print(trupla)

(1, 2, 3, 4)

NameError: name 'trupla' is not defined

## Slicing 

Assim como as listas e Strings, podemos fazer Slicing com truplas.

In [4]:
tuple_01: tuple[int] = (1, 2, 3, 4, 5)

print(tuple_01[2])
print(tuple_01[:])
print(tuple_01[:4])
print(tuple_01[2:4])

3
(1, 2, 3, 4, 5)
(1, 2, 3, 4)
(3, 4)

## Casting

Podemos fazer casting com alguns tipo de dados dados.

In [5]:
string_01: str = "teste"
list_01: list[str] = [1, 2, 3]
dict_01: dict[str, int] = {'a': 1, 'b': 2}
set_01: set[int] = {10, 20, 30}
range_01: range = range(5)
enumerate_01: enumerate = enumerate(['x', 'y'])
zip_01: zip = zip([1, 2], ['a', 'b'])

# Casting to tuple
print(tuple(string_01))     
print(tuple(list_01))       
print(tuple(dict_01))       
print(tuple(set_01))        
print(tuple(range_01))      
print(tuple(enumerate_01))  
print(tuple(zip_01))

('t', 'e', 's', 't', 'e')
(1, 2, 3)
('a', 'b')
(10, 20, 30)
(0, 1, 2, 3, 4)
((0, 'x'), (1, 'y'))
((1, 'a'), (2, 'b'))

## Desempacotando truplas

Funciona da mesma forma que as listas. Tem que ter o mesmo número de variáveis para elementos da truplas

In [6]:
birth_date: tuple[int] = (2, 4, 2025)

day, month, year = birth_date

print(day)
print(month)
print(year)

2
4
2025

## Cocatenar listas

Como falamos, as truplas são imutáveis, mas podemos cocatenar e sobrescreve-las.

In [7]:
tuple_01: tuple[int] = (1, 2, 3, 4, 5)
tuple_02: tuple[str] = ('a', 'b', 'c')
tuple_03: tuple[int] = 1, 2, 3, 4, 5

print(tuple_01)

tuple_04 = tuple_01 + tuple_02
tuple_01 = tuple_01 + tuple_03

print(tuple_04)
print(tuple_01)

(1, 2, 3, 4, 5)
(1, 2, 3, 4, 5, 'a', 'b', 'c')
(1, 2, 3, 4, 5, 1, 2, 3, 4, 5)

## Verificar se está incluso

Meso processo que das listas, utilizamos o operador in.

In [8]:
tuple_01: tuple[int] = (1, 2, 3, 4, 5)

print(1 in tuple_01)
print('a' in tuple_01)

True
False

## Métodos com truplas

Diferente das listas, as truplas somente contém dois métodos, ambos a lista possui.

### .count( )

Retorna o número de ocorrências do valor.

In [9]:
numbers: tuple[int] = (1, 2, 1, 1, 1, 1, 4, 5, 6, 7, 8, 8, 8)

print(f'As ocorrências do núemro 1 são: {numbers.count(1)}')
print(f'As ocorrências do núemro 8 são: {numbers.count(8)}')
print(f'As ocorrências do núemro 10 são: {numbers.count(10)}')

As ocorrências do núemro 1 são: 5
As ocorrências do núemro 8 são: 3
As ocorrências do núemro 10 são: 0

### .index( )

Retorna o primeiro índice do valor.

Levanta ValueError se o valor não estiver presente.

In [10]:
numbers: tuple[int] = (1, 2, 1, 1, 1, 1, 4, 5, 6, 7, 8, 8, 8)

print(numbers.index(4))

6

In [11]:
numbers: tuple[int] = (1, 2, 1, 1, 1, 1, 4, 5, 6, 7, 8, 8, 8)

print(numbers.index(10))

ValueError: tuple.index(x): x not in tuple

---